.shop{
    margin: 30px;
}
.shop h2{
    padding: 10px 20px;
    text-transform: uppercase;
    color: #232323;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 300;
}
.shop p{
    padding: 10px 20px;
    margin-top: 10px;
    color: #8a8a8a;
    font-size: 14px;
    font-weight: 60;
}
.shop .contaner {
    width: 100%;
}
.shop .contaner .left-box .category{
    border: 3px solid #f6f6f6;
    width: 100%;
}
.shop .contaner .left-box .category .header{
    max-width: 100%;
    padding: 10px 20px;

}
.shop .contaner .left-box .category .header h3{
    font-size: 16px;
    color: #232323;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.shop .contaner .left-box .category .box{
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
}
.shop .contaner .left-box .category .box ul{
    max-width: 100%;
}
.shop .contaner .left-box .category .box ul li{
    list-style: none;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}
.shop .contaner .left-box .category .box ul li:hover{
    color: #232323;
}
.shop .contaner .left-box .banner{
    margin-top: 20px;
    width: 385px;
}
.shop .contaner .left-box .banner .img-box img{
    width: 100%;
    object-fit: cover;
}
.shop .contaner .right-box .product-box{
    max-width: 100%;
    padding: 10px 10px;
}
.shop .contaner .right-box .product-box h2{
    color: #232323;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 22px;
}
.shop .contaner .right-box .product-box .product-container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
}
.shop .contaner .right-box .product-box .product-container .box{
    width: 260px;
    height: 350px;
    overflow: hidden;
    border: 3px solid #f6f6f6;
    margin-left: 15px;
    margin-top: 20px;
}
.shop .contaner .right-box .product-box .product-container .box .img-box{
    display: flex;
}
.shop .contaner .right-box .product-box .product-container .box .img-box img{
    width: 170px;
    height: 170px;
    margin-left: 40px;
}
.shop .contaner .right-box .product-box .product-container .box .img-box .icon{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left:40px;
    transition: 0.5s;

}
.shop .contaner .right-box .product-box .product-container .box:hover .img-box .icon{
    margin-left: -20px;
}
.shop .contaner .right-box .product-box .product-container .box .img-box .icon li{
    list-style: none;
    box-shadow: rgba(0 ,0, 0 , 0.24) 0 3px 8px;
    padding: 10px 10px;
    margin-top: 10px;
    color: #8a8a8a;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.shop .contaner .right-box .product-box .product-container .box .img-box .icon li:hover{
    color: #fff;
    background: #cd1e76;
}
.shop .contaner .right-box .product-box .product-container .box .detail{
    width: 100%;
    margin-top: 10px;
}
.shop .contaner .right-box .product-box .product-container .box .detail h3{
    text-align: center;
    color: #232323;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.shop .contaner .right-box .product-box .product-container .box .detail p{
    margin-top: 5px;
    text-align: center;
    color: #cd1e76;
    font-size: 16px;
}
.shop .contaner .right-box .product-box .product-container .box .detail button{
    margin-top: 10px;
    margin-left: 27%;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #232323;
    background: #fed700;
    font-weight: 600;
    transition: 0.5s;
}
.shop .contaner .right-box .product-box .product-container .box .detail button:hover{
    color: #fed700;
    background: #232323;
}
.product-details{
    width: 900px ;
    height: 500px;
    position: fixed;
    top: 100px;
    left: 170px;
    background: #f6f7f8;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    padding: 20px 30px;
}
.product-details .close-btn {
    float: right;
    border: none;
    outline: none;
    background: none;
    color: #cd1e76;
    font-size: 22px;
}
.product-details .contaner{
    width: 100%;
    display: flex;
}
.product-details .contaner .img-box{
    padding: 20px 20px;
    background: #f6f6f6;
    border-radius: 10px;
}
.product-details .contaner .img-box img{
    width: 270px;
    height: 270px;
}
.product-details .contaner .info{
    margin-top: 30px;
    margin-left: 40px;
}
.product-details .contaner .info h4{
    font-size: 16px;
    font-weight: 600;
    color: #8a8a8a;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product-details .contaner .info h2{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
    color: #232323;
    text-transform: uppercase;
}
.product-details .contaner .info p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #8a8a8a;
}
.product-details .contaner .info h3{
    margin-top: 10px;
    font-size: 24px;
    color: #cd1e76;
}
.product-details .contaner .info button{
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: #cd1e76;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
@media (max-width:420px) {
    .shop .contaner .left-box .category .header {
        margin-left: 1px;
        width: 100%;

    }
    .shop .contaner .left-box .category{
        border: 3px solid #f6f6f6;
        width: 90%;
        margin-left: 20px;
    }
    .shop .contaner .left-box .banner{
        display: none;
    }
    .shop .contaner .right-box .banner{
        display: none;
    }
    .shop .contaner .right-box .product-box .product-container .box{
        width: 350px;
    }
    .shop .contaner .right-box .product-box .product-container .box .img-box .icon{
        margin-left: 150px;
    }
    .shop .contaner .right-box .product-box .product-container .box:hover .img-box .icon{
        margin-left: 50px;
    }
    .shop .contaner .right-box .product-box .product-container .box .img-box img{
        width: 100%;
    }
    .product-details {
        width: 400px;
        margin-left: -155px;
    }
    .product-details .contaner .img-box img{
        width: 150px;
    }
}