/* .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} */
.left-head img{
    width: 200px;
    cursor: pointer;
    object-fit: cover;
}

  
  .input {
    min-height: 50px;
    max-width: 100%;
    padding: 0 1rem;
    color: black;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 25px;
    background-color: transparent;
    
    
    
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 25px;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }

  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }



